<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            width: 300px;
            margin: auto;
            border-collapse: collapse;
        }
        td {
            text-align: center;
        }
        .text-center {
            text-align: center;
        }
    </style>
    <title>Users</title>
</head>
<body>
<h1 class="text-center">Admin panel</h1>
<h1 class="text-center">Users</h1>
<table border="2">
    <tbody>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>email</th>
        <th>Roles</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td><p th:text="${user.getId()}">user</p></td>
        <td><p th:text="${user.getUsername()}">user</p></td>
        <td><p th:text="${user.getEmail()}">user</p></td>
        <td><p th:text="${user.formatedRoles()}">user</p></td>
        <td><a th:href="@{admin/update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a></td>

        </form></td>
    </tr>
    </tbody>

</table>
<br/>
<center>
    <button><a th:href="@{/admin/new}">Add new user</a></button> or <button><a th:href="@{/logout}">Logout</a></button>
</center>
</body>
</html>